body {
  font-family: helvetica;
  background-color:#333333;
}

#videos {
  width: 75%;
  float:left;
  background-color:#000000;
  height:auto;
  position:relative;
}
#container{
  width:80%;
  height:auto;
  margin:2% auto;
  }
#videos{
  width:100%;
}
#userList{
  width:30%;
  float:left;
}
#answer:disabled, #hangup:disabled, #call:disabled{
  background-color:#666666;
}
#localVideo{
  z-index:1;
}
#localVideo, #remoteVideo{
  position:absolute;
  top:0;
  left:0;
}
#controls {
  width:25%;
  background-color:#999999;
  float:right;
  color:#ffffff;
  height:auto;
}
#call{
  background-color: green;
}
#answer{
  background-color: blue;
}
#hangup{
  background-color: red;
}
#hangup, #answer, #call{
  color:#fff;
  padding:2%;
  width:32%;
}
#hangupMessage{
  color:#fff;
  margin:15% auto;
  text-align:center;
}
